<%# app/views/quotes/new.html.erb %>

<main class="container py-2 my-12">
  <%= link_to sanitize("&larr; Back to quotes"), quotes_path, class:'text-white p-2 my-2 bg-teal-400 shadow-lg shadow-teal-500/50' %>

  <div class="header">
    <h1 class='text-4xl font-bold text-teal-700 py-2 my-6'>New quote</h1>
  </div>

  <%= turbo_frame_tag @quote do %>
  <%#= turbo_frame_tag "second_frame" do %>
    <%= render "form", quote: @quote %>
  <% end %>  

</main>
