<div id="<%= dom_id room %>">
  <p class="my-5 text-4xl">
    <span class="block font-bold mb-1 text-teal-600"><%= room.name %></span>
  </p>
  <% if action_name != "show" %>
    <%= link_to "Show this room", room, class: "rounded-lg py-3 px-5 bg-teal-200 inline-block font-medium" %>
    <%= link_to 'Edit this room', edit_room_path(room), class: "rounded-lg py-3 ml-2 px-5 bg-silver inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
