<!DOCTYPE html>
<html lang="ca">
<head>    
  <%= render 'layouts/partials/head' %>
</head>
<body class="bg-gray-200 font-sans leading-normal tracking-normal">
    <%= render 'layouts/partials/navbar' %>
  <main class="container mx-auto mt-28 px-8 mt-4">
    <%= yield %>
  </main>
    <%#= render 'layouts/partials/footer' %>
</body>
</html>
